{% extends 'base.html.twig' %}

{% block title %}Série : {{ program.id }}{% endblock %}

{% block body %}
	<div class="container">
		<div class="media mt-5">
			<img class="align-self-start m-3" src="{{ program.poster }}" alt="{{ program.title }} poster" style="width: 400px;">
			<div class="media-body">
				<h1 class="m-3">{{ program.title }}</h1>
				<p>{{ program.synopsis }}</p>
				<p>Catégorie : {{ program.category.name }}</p>
				<p>Pays : {{ program.country }}</p>
				<p>Année : {{ program.year }}</p>
			</div>
		</div>

		<h2 class="mt-5">Saisons</h2>
		<ul class="list-group">
			{% for season in program.seasons|sort((a, b) => a.number <=> b.number) %}
				<li class="list-group-item">
					<a href="{{ path('app_season_show', {id: season.id}) }}">
						Saison {{ season.number }}
					</a>
				</li>
			{% else %}
				<li class="list-group-item">Aucune saison pour ce programme</li>
			{% endfor %}
		</ul>

		<a href="{{ path('category_show', { 'categoryName': program.category.name }) }}" class="btn btn-secondary mt-5">Retour aux programmes</a>
	</div>
{% endblock %}
